{% extends "base.html" %}

{% block title %}
    Země: {{ country }}
{% endblock %}

{% block content %}
    <h1>{{ country }}</h1>
    <ul>
        {% for movie in country.movies.all %}
            <li><a href="{% url 'movie' movie.id %}">{{ movie }}</a></li>
        {% endfor %}
    </ul>

    <br>
    <hr>
    <a href="{% url 'country_update' country.id %}" class="btn btn-primary">Aktualizovat</a>
    <a href="{% url 'country_delete' country.id %}" class="btn btn-danger">Smazat</a>
{% endblock %}