{% extends "base.html" %}

{% block title %}
    Seznam žánrů
{% endblock %}

{% block content %}
    <h1>Žánry</h1>
    <a href="{% url 'genre_create' %}" class="btn btn-primary">Přidat</a>
    <ul>
        {% for genre in genres %}
            {% if genre.movies.count %}
                <li><a href="{% url 'genre' genre.id %}">{{ genre }}</a> ({{ genre.movies.count }})</li>
                <ul>
                    {% for movie in genre.movies.all %}
                        <li><a href="{% url 'movie' movie.id %}">{{ movie }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}